spring:
  application:
    name: patient-mpi
  
  datasource:
    url: jdbc:h2:mem:patientdb
    driverClassName: org.h2.Driver
    username: sa
    password: 
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080

logging:
  level:
    com.xtramile.patient: DEBUG
    org.springframework.web: INFO

